
.carousel {
    width: 300px;
    overflow: hidden;
    position: relative;
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-images img {
    width: 300px;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.tag {
    background-color: #fff2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
body {
    background: linear-gradient(to right, #f16161, #ffee00);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
}
.carousel {
    width: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-images img {
    
    width: 300px;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.tag {
    background: linear-gradient(to right, #fffb00, #fc6f6f);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    transition: transform 0.3s, background-color 0.3s;
    color: rgb(15, 15, 15);
    
}
.tag:hover {
    transform: scale(1.1);
    background-color: #e0e0e0;
} 
  /* Estilo para párrafos */
  p {
    margin-bottom: 20px;
    color: rgb(15, 15, 15);
  }
  
  /* Estilo para listas */
  ul {
    list-style-type: none; /* Elimina viñetas */
    padding-left: 0;
  }
  
  ul li {
    background-color: #2e2e2e; /* Fondo gris oscuro para las listas */
    color: rgb(245, 237, 237);
    padding: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #fceb05; /* Barra roja a la izquierda */
  }
  
  ul li strong {
    color: #ffffff; /* Rojo brillante para el texto en negrita */
  }
 h3{
    color: white;
 }
 a{
    margin-left: -800px;
    color: rgb(0, 0, 0)
}

